.pane {
	height: 400px;
	padding: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

textarea {
   resize: none;
   border: none;
}

#errors {
	padding: 20px;
	padding-bottom: 0;
	display: none;
}

#output {
	font-family: 'Computer Modern';
	font-size: 15pt;
	overflow-y: auto;
}

#output .katex {
	font-size: 15pt;
}

#tex {
	background: rgba(0,0,0,0.03);
}

#render-row {
	text-align: center;
	padding: 20px;
}

input[type="button"] {
	padding: 7px 20px;
}

@media print {
	#tex, input {
		display: none;
	}
	.pane {
		border: none;
	}
}