.pane {
	min-height: 400px;
	padding: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#output {
	/*background: rgba(0,0,0,0.05);*/
}
#tex {
	background: rgba(0,0,0,0.03);
}

#render-row {
	text-align: center;
	padding: 20px;
}

#render {
	padding: 7px 20px;
}