.pane {
	height: 400px;
	padding: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

textarea {
   resize: none;
   border: none;
}

#output {
	font-size: 12pt;
	overflow-y: auto;
}

#tex {
	background: rgba(0,0,0,0.03);
}

#render-row {
	text-align: center;
	padding: 20px;
}

#render {
	padding: 7px 20px;
}